body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px 20px;
    background-color: #020617;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #94a3b8;
}

.tagline {
    max-width: 600px;
    margin: 10px auto;
    color: #cbd5f5;
}

/* SECTIONS */
section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

h2 {
    border-bottom: 2px solid #334155;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* DEMO */
.demo {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

/* PROJECT CARDS */
.project-card {
    background-color: #020617;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #1e293b;
    margin-bottom: 20px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.featured {
    border: 1px solid #22c55e;
}

/* HIGHLIGHT TEXT */
.highlight {
    color: #22c55e;
    font-weight: bold;
}

/* SKILLS */
.skills p {
    margin: 8px 0;
}

/* LINKS */
a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
    margin-top: 40px;
    color: #94a3b8;
}